<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-2">
			<label for="year">FY</label>
			<%= select_year(Date.today, {start_year: 1992, end_year: Date.today.year}, {:id => 'year', :class => 'form-control'}) %>
		</div>

		<div class="col-sm-2">
			<%= link_to 'Add Target', new_target_path, :class => 'btn btn-primary' %>
		</div>
	</div>
</div>