<div class="row">
  <div class="col-sm-12">
    <h2><%= @user.last_name << ", " << @user.first_name << " " << @user.middle_name %></h2>
    <p><strong>Email: </strong><%= @user.email %></p>
  </div>

  <div class="col-sm-12">
    <% if !@certificates.empty? %>
      <%= render "recommendations/for_recommendation" %>
    <% end %>

  
    <div>
      <%= render "users/user_certificate_list" %>
    </div>

</div>